form {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 10px;
}

label {
    padding: 5px 0px;
}

select {
    margin-bottom: 10px;
    height: 25px;
    width: 80px;
    background-color: white;
    border: 1px solid #ccc;
}

select:focus {
    outline: none;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

input:focus {
    outline: none;
    border: 1px solid teal;
}

textarea {
    height: 100px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea:focus {
    outline: none;
    border: 1px solid teal;
}

.error {
    font-size: 10px;
    color: red;
}